.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
static/b.html
src/components/load-more.vue
static/a.html
static/1.js
src/scripts/1.js
src/components/load-more1.vue
